<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
</head>
<style>

body{
    font-family: Arial, Helvetica, sans-serif;
    /*width and height for a rotated A4*/
    width: 320mm;
    height: 215mm;
    margin: 0;
}
.header{
    width: 320mm;
    height: 60mm;
    /* background-color: #dddcdf; */
}
    .container1{
        width: 302mm;
        display: flex;
        justify-content: stretch;
        position: relative;
        top: 29mm;
        left: 18mm;
    }
        .customer_info{
            text-align: center;
            width: 90mm;
            height: 20mm;
            /* border: 1px solid #000; */
        }
        .invoice_info{
            width: 45mm;
            height: 9mm;
            /* border: 1px solid #000; */
        }
            .invoice_number{
                text-align: center;
                /* margin: 1px 1px 1px 1px; */
                width: 45mm;
                height: 9mm;
                /* border: 1px solid #000; */
            }
            .invoice_date{
                text-align: center;
                /* margin: 1px 1px 1px 1px; */
                width: 45mm;
                height: 9mm;
                /* border: 1px solid #000; */
            }
        .customer_info_arabic{
            text-align: center;
            width: 90mm;
            height: 20mm;
            /* border: 1px solid #000; */
        }




.container2{
    width: 302mm;
    display: flex;
    justify-content: stretch;
    position: relative;
    top: 29mm;
    left: 18mm;
}
    .payment_terms{
        text-align: right;
        width: 84mm;
        height: 10mm;
        /* border: 1px solid #000; */
    }
    .customer_number{
        text-align: right;
        width: 78mm;
        height: 10mm;
        /* border: 1px solid #000; */
    }
    .place_of_delivery{
        text-align: right;
        width: 67mm;
        height: 10mm;
        /* border: 1px solid #000; */
    }
    .sales_man{
        text-align: right;
        width: 55mm;
        height: 10mm;
        /* border: 1px solid #000; */
    }




footer{
    width: 284mm;
    height: 35mm;
    position: relative;
    left: 18mm;
    /* border: 1px solid #000; */
}
    .container3{
        display: flex;
        justify-content: inherit;

    }
        .qrcode{
            height: 35mm;
            width: 35mm;
            display: flex;
            justify-content: center;
            align-items: center;
            /* border: 1px solid #000; */
        }
        .invoice_delivery_details{
            height: 16mm;
            width: 163mm;
            /* border: 1px solid #000; */
            display: flex;
            flex-direction: column;
        }
            .amount_inwords{
                font-size: 10px;
                /* padding: 1px 1px 1px 1px; */
                height: 8mm;
                width: 163mm;
                /* border: 1px solid #000; */
                display: flex;
                justify-content: center;
            }
            .delivery_details{
                height: 8mm;
                width: 163mm;
                /* border: 1px solid #000; */
                display: flex;

            }
                .delivery_date{
                    height: 8mm;
                    width: 54mm;
                    /* border: 1px solid #000; */
                    justify-content: center;
                    text-align: right;
                }
                .total_cases{
                    height: 8mm;
                    width: 54mm;
                    /* border: 1px solid #000; */
                    justify-content: center;
                    text-align: right;
        
                }
                .total_weight{
                    height: 8mm;
                    width: 54mm;
                    /* border: 1px solid #000; */
                    justify-content: center;
                    text-align: right;

                }
        .invoice_totals{
            height: 35mm;
            width: 84mm;
            margin-right: 3mm;
            text-align: right;
            display: flex;
            flex-direction: column;
            /* border: 1px solid #000; */
            
        }
            .gross_value{
                height: 7mm;
                width: 84mm;
                /* border: 1px solid #000; */
                justify-content: center;
                text-align: right;
            }
            .discount{
                height: 6mm;
                width: 84mm;
                /* border: 1px solid #000; */
                justify-content: center;
                text-align: right;
            }
            .taxable_value{
                height: 6mm;
                width: 84mm;
                /* border: 1px solid #000; */
                justify-content: center;
                text-align: right;
            }
            .vat_perc{
                height: 6mm;
                width: 84mm;
                /* border: 1px solid #000; */
                justify-content: center;
                text-align: right;
            }
            .net_value{
                height: 9mm;
                width: 84mm;
                /* border: 1px solid #000; */
                justify-content: center;
                text-align: right;
            }



.items{
    width: 284mm;
    height: 108mm;
    margin-left: 18mm;
    /* border: 1px solid #000; */
}
.items_header{
    width: 284mm;
    height: 13mm;
    /* border: 1px solid #000; */
}
.item_details{
    width: 284mm;
    height: 95mm;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
}
.item_line{
    display: flex;
    height: 5.5mm;
    font-size: 12px;
}
    .serial_number{
        text-align: right;
        width: 18mm;
        /* border: 1px solid #000; */
    }
    .item_name{
        margin-left: 3mm;
        text-align: left;
        width: 81mm;
        /* border: 1px solid #000; */
    }
    .item_name_arabic{
        margin-right: 3mm;
        text-align: right;
        width: 81mm;
        /* border: 1px solid #000; */
    }
    .quantity{
        text-align: right;
        width: 19mm;
        /* border: 1px solid #000; */
    }
    .unit_price{
        text-align: right;
        width: 22mm;
        /* border: 1px solid #000; */
    }
    .unit{
        text-align: center;
        width: 19mm;
        /* border: 1px solid #000; */
    }
    .vat_amount{
        text-align: right;
        width: 15mm;
        /* border: 1px solid #000; */
    }
    .total_value{
        text-align: right;
        width: 28mm;
        /* border: 1px solid #000; */
    }
img{
    width: 33mm;
    height: 33mm;
}


</style>
<body>
    <% var itemsPerPage=17; %>
    <% var numPages=Math.ceil(line_items.length / itemsPerPage); %>
    <% for(var i=0; i < numPages; i++) { %>
    <div class="header">
        <div class="container1">
            <div class="customer_info">
                <p><%= partner_name %></p>
                <p><%= address %></p>
            </div>
            <!-- Gap between customer address and invoice number -->
            <div style="width: 28mm;"></div>
            <div class="invoice_info">
                <div class="invoice_number">
                    <p><%= invoice_no %></p>
                </div>
                <div class="invoice_date">
                    <p><%= date %></p>
                </div>
            </div>
            <div style="width: 29mm;"></div>
            <div class="customer_info_arabic">
                <p><%= partner_name_arabic %></p>
                <p><%= address_arabic %></p>
            </div>
        </div>
        <div class="container2">
            <div class="payment_terms">
                <p><%= payment_terms %></p>
            </div>
            <div class="customer_number">
                <p><%= customer_no %></p>
            </div>
            <div class="place_of_delivery">
                <p><%= place_of_delivery %></p>
            </div>
            <div class="sales_man">
                <p><%= sales_man %></p>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="items_header"></div>
        <div class="item_details">
            <% var start=i * itemsPerPage; %>
            <% var end=Math.min(start + itemsPerPage, line_items.length); %>
            <% for(var j=start; j < end; j++) { %>
                <% var item=line_items[j]; %>
                <div class="item_line">
                    <div class="serial_number">
                        <p><%= item.sl_no %>.</p>
                    </div>
                    <div class="item_name">
                        <p><%= item.product_name %></p>
                    </div>
                    <div class="item_name_arabic">
                        <p><%= item.product_name_arabic %></p>
                    </div>
                    <div class="quantity">
                        <p><%= item.quantity %></p>
                    </div>
                    <div class="unit_price">
                        <p><%= item.unit_price %></p>
                    </div>
                    <div class="unit">
                        <p><%= item.uom %></p>
                    </div>
                    <div class="vat_amount">
                        <p><%= item.tax_amount %></p>
                    </div>
                    <div class="total_value">
                        <p><%= item.total_amount %></p>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
    <!-- Page brak after max number -->
    <% if(i < numPages - 1) { %>
        <div style="page-break-after: always;"></div>
    <% } %>
    <!-- If this is the last page, print the footer -->
    <% if(i===numPages - 1) { %>
    <footer>
        <div class="container3">
            <div class="qrcode">
                <img src=<%= qrcode_url  %> alt="QR Code">
            </div>
            <div class="invoice_delivery_details">
                <div class="amount_inwords">
                    <div class="amount_in_words_english">
                        <p><%= amount_in_words %></p>
                    </div>
                    <div class="amount_in_words_arabic">
                        <p><%= amount_in_words_arabic %></p>
                    </div>
                </div>
                <div class="delivery_details">
                    <div class="delivery_date">
                        <p><%= delivery_date %></p>
                    </div>
                    <div class="total_cases">
                        <p><%= total_case %></p>
                    </div>
                    <div class="total_weight">
                        <p><%= total_weight %></p>
                    </div>
                </div>
                
            </div>

            <div class="invoice_totals">
                <div class="gross_value">
                    <p><%= amount_gross_value %></p>
                </div>
                <div class="discount">
                    <p><%= amount_discount %></p>
                </div>
                <div class="taxable_value">
                    <p><%= taxable_value %></p>
                </div>
                <div class="vat_perc">
                    <p><%= amount_tax %></p>
                </div>
                <div class="net_value">
                    <p><%= amount_total %></p>
                </div>
            </div>
        </div>
    </footer>
    <% } %>

    <% } %>
</body>
</html>